<ion-header>
    <ion-toolbar color="green_material">
        <button *ngIf="!isRecording" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!isRecording">Chats</ion-title>
        <ion-title *ngIf="isRecording" text-center>RECORDING</ion-title>
        <ion-buttons *ngIf="!isRecording" end>
            <button ion-button icon-only color="royal" (click)="cleanMessages()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content #content class="main_color" padding>
    <div *ngIf="!isRecording" >
        <div *ngFor="let chatMessage of chatMessages" >
            <chat-bubble [chatMessage]="chatMessage" (click)="clickedChatMessage(chatMessage)"></chat-bubble>
        </div>
    </div>
    <ion-grid fixed *ngIf="isRecording" style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
            <div style="font-size: 80px">{{this.countDown}}</div>
        </ion-row>
        <ion-row justify-content-center align-items-center style="height: 100%">
            <button ion-button icon-only round large color="green_material" style="font-size: 60px" (click)="stopRecordVoice()">
                <ion-icon name="pause"></ion-icon>
            </button>
        </ion-row>
    </ion-grid>
</ion-content>


<ion-footer *ngIf="!isRecording">
    <ion-toolbar>
        <ion-input [(ngModel)]="newMessage" placeholder="Chat Here !" value="{{chatInput}}"></ion-input>
        <ion-buttons end>
            <button ion-button icon-right color="green_material" (click)="sendMessage()">
                <ion-icon name="send"></ion-icon>
            </button>
                <button ion-button icon-only icon-right color="green_material" (click)="recordVoice()">
                    <ion-icon name="mic"></ion-icon>
                </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>

