<ion-header>
    <ion-toolbar color="green_material">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Synapses</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="main_color" padding>

    <div *ngFor="let synapse of synapsesToDisplay">
        <ion-card *ngIf="synapse.signal.name == 'order'" class="synapse-ion-card">
            <ion-card-header>
                <button ion-button clear item-right icon-only (click)="runSynapse(synapse, synapse.signal)" class="synapse">
                    {{synapse.name}}
                    <ion-icon name="play"></ion-icon>
                </button>
            </ion-card-header>
            <ion-list *ngFor="let param of synapse.signal.params" class="param">
                <ion-input text-center [(ngModel)]="param.value" type="text" placeholder= {{param.name}}></ion-input>
            </ion-list>
        </ion-card>
        <ion-card *ngIf="synapse.signal.name == 'geolocation'" class="synapse-ion-card">
            <ion-card-header>
                <button ion-button clear item-right icon-only (click)="displayGeolocation(synapse)" class="synapse">
                    {{synapse.name}}
                    <ion-icon name="locate"></ion-icon>
                </button>
            </ion-card-header>
        </ion-card>
    </div>

</ion-content>

<ion-footer *ngIf=settings>
    <ion-toolbar>
        <ion-item>
            <ion-label>Geolocation <ion-badge color="green_material" (click)="showInfoGeolocation()">?</ion-badge></ion-label>
            <ion-toggle color="green_material" [(ngModel)]="settings.geolocation" (ionChange)="geolocationSettingsUpdated()"></ion-toggle>
        </ion-item>
    </ion-toolbar>
</ion-footer>
