<ion-header>
  <ion-toolbar color="green_material">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Synapses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main_color" padding>

    <ion-card *ngFor="let synapse of synapses">
        <ion-card-header>
            <button ion-button clear item-right icon-only (click)="runSynapse(synapse)">
                {{synapse.name}}
                <ion-icon name="play"></ion-icon>
            </button>
        </ion-card-header>

        <ion-list *ngFor="let order of synapse.orders">
            <ion-input [(ngModel)]="order.0.value" type="text" placeholder={{order.0.name}}></ion-input>
        </ion-list>
    </ion-card>

</ion-content>
