<ion-header>
    <ion-toolbar color="green_material">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Synapses</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="main_color" padding>

    <div *ngFor="let synapse of synapsesToDisplay">
        <ion-card *ngIf="synapse.signal.name == 'order'">
            <ion-card-header>
                <!--Displaying only synapses without params because API does not handle POST with params !-->
                <!--Otherwise use : <ion-card *ngIf="synapse.signal.constructor.name == 'Order'">-->
                <button ion-button clear item-right icon-only (click)="runSynapse(synapse)">
                    {{synapse.name}}
                    <ion-icon name="play"></ion-icon>
                </button>
            </ion-card-header>
        </ion-card>
        <ion-card *ngIf="synapse.signal.name == 'geolocation'">
            <ion-card-header>
                <button ion-button clear>
                    {{synapse.name}}
                </button>
            </ion-card-header>
        </ion-card>
    </div>

</ion-content>
